<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Удобная аптека</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
    <header class="site-header">
      <div>
        <div id="top-line">
			<div id="top-region-block">
			<div><span>Москва</span></div>
            </div>
            <div id="parmacy-block">
            </div>
        <button class="catalog" onclick="window.location.href = 'https://www.w3docs.com';"><div id="top-mobile-block">
			<span rel="nofollow" href="#">Каталог</span>
		</div>
          </button>

          <div id="top-phone-block">
				<a class='call' rel="nofollow" href="tel:+79251112338">Позвоните нам!</a>
            </div>
		        <div id="top-auth-block">

		<a rel="nofollow" href="/personal/">Вход / Регистрация</a></div>
    </div>
      </div>
{% block content %}{% endblock %}
    <footer class="site-footer">
      <div class="container">
        <p>© Аптека, 2023</p>
        <p>Мы заботимся о вашем здоровье</p>
      </div>
    </footer>
  </body>
</html>