{% extends "base.html" %}

{% block content %}
<h1>Корзина</h1>
<div style="margin-left: 7%;">
{% for item in med%}
<div class="border">
    <div class="borderin">
       {{item.title}}
    </div>
    <div class="borderin">
        <img src="{{url_for('static', filename='img/лекарства/' + item.picture)}}"
                         style="max-width: 280px; height: 180px; margin: 10px 0px 5px 0;" alt="Пока нет картинки!">
    </div>
    <div class="borderin">
        <div class="price">
            <div class="pricein">
             Цена: {{item.price}} руб
            </div>
            <div class="pricein">
             Количество: {{item.quantity}}
            </div>
        </div>
    </div>
    <button class="borderin" onclick="window.location='http://127.0.0.1:8125/delete/{{item.id}}'">
        Убрать из корзины!
    </button>
    <button class="borderin" onclick="window.location='http://127.0.0.1:8125/minus/{{item.id}}/basket'">
        Заказать!!!
    </button>
</div>
{% endfor %}
</div>
{% for i in med %}
{% if loop.index % 4 == 1 %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}
{% endfor %}
{% endblock %}